html {
	width: 100%;
}

* {
	box-sizing: border-box;
}

p, h1, h2, h3, h4, h4, h6, div, span {
	font-family: PingFangSC-Regular, sans-serif, Microsoft JhengHei;
}

p {
	font-size: 16px;
}

.clear {
	padding: 0;
	margin: 0;
	border: 0;
}

.navbar-height {
	height: 80px;
	box-shadow: 0 1px 0 rgba(4,0,0,0.1);
	z-index: 99;
}

.logo-color {
	height: 100%;
	width: 180px;
	background-color: #E60012;
}

.logo-center {
	display: flex!important;
	justify-content: center; 
	align-items: center;
}

.navbar-brand img {
	height: 45px;
}

.nav-item-size {
	width: 25%;
	height: 100%;
}

.verticle-center {
	line-height: 5;
}

.border-box {
	border-right: 1px #ededed solid;
}

.banner .container-fluid {
	padding:0!important;
}

.game-nav-items {
	height: 70px;
	box-shadow: 0 1px 0 rgba(4,0,0,0.1);
}

.game-nav-items:hover {
	cursor: pointer;
}

.game-item {
	width: 20%;
	line-height: 4.2;
	border-right: 1px #ededed solid;
}


.game-icon {
	height: 45px;
}

.about {
	padding:40px 0;
	background-color: #F5F5F5;
}

.about img {
	box-shadow:2px 2px 4px gray;
}

.title {
	font-size:30px;
	color: black;
	font-weight: bold;
}

.title-en {
	font-size: 12px;
	color: #737373;
	margin-bottom: 42px;
}

.news {
	padding: 12px 0;
	font-size: 14px;
}

.news a {
	color: black;
}

.news a:hover {
	color: #E60012;
}

.product {
	padding-top: 56px;
	padding-bottom:70px;
}
.product .card {
	background-color: #ffffff;
	padding: 20px 10px;
	margin-bottom: 10px;
}

.product img {
	width:100%;
	margin-bottom:20px;
}

.product img:hover {
	opacity: 0.8;
}

.product .news-info:hover {
	color: #E60012;
}

#card {
	border: none;
	border-bottom: 1px solid #ededed;
}

.card-height {
	height: 350px;
}

.news-info{
	margin: 0;
	padding: 10px 0;
	font-size: 14px;
	color: black;
}

.date {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: black;
}

.background-red {
	background-color: #E60012;
	height: 100px;
}

.logo {
	height: 40px;
}

.background-grey {
	background-color: #f2f2f2;
	height: 70px;
}

.footer-list {
	margin: 0;
	padding: 0;
	display: flex;
	text-decoration: none;
	justify-content: space-between;
}

.footer-list li {
	list-style: none;
}

.footer-list li a {
	color: black;
	font-size: 12px;
}

.footer-text {
	color: #999;
	font-size: 12px;
	padding: 5px;
	text-align: right;
}

@media (min-width: 992px) {
	.nav-bar {
		padding: 0;
		display: flex;
	}

	.nav-icon {
		height: 20px;
	}
}

@media (max-width: 992px) {
	.navbar-height {
		height: 120px;
	}

	.nav-bar {
		background-color: #E60012;
		padding: 0;
		display: flex;
		flex-direction: column;
	}

	.navbar-collapse {
		flex-basis: 0!important;
	}

	.navbar-nav {
		background-color: #E60012;
	}

	.navbar-nav-height {
		height: 65px;
	}

	.navbar-nav li {
		width: 100%;
	}

	.border-box {
		border: none;
	}

	.nav-icon {
		width: 20px;
	}

	.nav-link span {
		color: white;
	}

	.verticle-center {
		line-height: 4;
	}
}

@media (max-width: 768px) {
	.nav-link {
		display: flex!important;
		flex-direction: column;
		align-items: center;
	}
	
	.nav-link span {
		line-height: 2.5;
	}
}

@media (max-width: 576px) {
	.card-height {
		height: 400px;
	}

	.footer-list {
		padding: 0 24px;
	}

	.footer-text {
		text-align: center;
	}
}


@media (max-width: 1112px) {
	.game-item span {
		display: none;
	}
}